<div class="container mt-5 d-flex justify-content-center">
    <div>
        <h1>Novo aluno</h1>
        <form [formGroup]="formGroup" class="example-form mt-4" (ngSubmit)="salvar()">
            <!--Input de nome do aluno-->
            <small class="text-danger mb-2" *ngIf="formGroup.get('nome')?.errors &&
    formGroup.get('nome')?.hasError('required')">Campo
                obrigatório</small>
            <mat-form-field class="example-full-width">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="nome">
            </mat-form-field>
            <!--Input de cpf do aluno-->
            <small class="text-danger mb-2" *ngIf="formGroup.get('cpf')?.errors &&
    formGroup.get('cpf')?.hasError('required')">Campo
                obrigatório</small>
            <mat-form-field class="example-full-width">
                <mat-label>CPF</mat-label>
                <input matInput formControlName="cpf" mask="000.000.000-00">
            </mat-form-field>
            <!--Input de email do aluno-->
            <small class="text-danger mb-2" *ngIf="formGroup.get('email')?.errors &&
        formGroup.get('email')?.hasError('required')">Campo
                obrigatório</small>
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
            </mat-form-field>
             <!--Input de cep do aluno-->
             <small class="text-danger mb-2" *ngIf="formGroup.get('cep')?.errors &&
             formGroup.get('cep')?.hasError('required')">Campo
                     obrigatório</small>
                 <mat-form-field class="example-full-width">
                     <mat-label>Cep</mat-label>
                     <input matInput formControlName="cep">
                 </mat-form-field>
            <!--Input de ano de nascimento do aluno-->
            <small class="text-danger mb-2" *ngIf="formGroup.get('observacoes')?.errors &&
        formGroup.get('observacoes')?.hasError('required')">Campo
                obrigatório</small>
            <mat-form-field class="example-full-width">
                <mat-label>Ano de nascimento</mat-label>
                <input matInput formControlName="anoNascimento">
            </mat-form-field>
            <!--Botao de submissao do formulario-->
            <div class="d-flex justify-content-center">
                <button [disabled]="!formGroup.valid" type="submit" mat-raised-button color="primary">
                    Cadastrar
                </button>
            </div>
        </form>
    </div>
</div>